{% extends "Master/MenuBghTemplate.html.twig" %} {% block head %}
{{ parent() }}
<link
  rel="stylesheet"
  href="{{
    asset('Plugins/asignacion_usuarios/Assets/DataTables/datatables.css')
  }}"
/>
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {# Definimos los usuarios directamente en el código #} {# Incluimos el
      componente de la tabla Bootstrap y pasamos la lista de usuarios #} {%
      include 'componentes/tabla.html.twig' with { 'usuarios': fsc.users } %}
    </div>
  </div>
</div>
{% include 'componentes/modal.html.twig' with { 'roles': fsc.roles } %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{
    asset('Plugins/asignacion_usuarios/Assets/DataTables/datatables.js')
  }}"></script>
<script src="{{
    asset('Plugins/asignacion_usuarios/Assets/JS/dom.js')
  }}"></script>
<script src="{{
    asset('Plugins/asignacion_usuarios/Assets/JS/getRoles.js')
  }}"></script>
<script src="{{
    asset('Plugins/asignacion_usuarios/Assets/JS/insertUs.js')
  }}"></script>

{% endblock %}
