{% extends "Master/MenuBghTemplate.html.twig" %} {% block head %}
{{ parent() }}
<link
  rel="stylesheet"
  href="{{
    asset('Plugins/control_permisos/Assets/DataTables/datatables.css')
  }}"
/>

{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {% include 'componentes/tablaP.html.twig' with { 'usuarios': fsc.roles }%}
      {% include 'componentes/modalP.html.twig'%} {% include
      'componentes/modalPaginas.html.twig'%}
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{
    asset('Plugins/control_permisos/Assets/JS/afetDom.js')
  }}"></script>

<script src="{{
    asset('Plugins/control_permisos/Assets/DataTables/datatables.js')
  }}"></script>
<script src="{{
    asset('Plugins/control_permisos/Assets/JS/insertarRol.js')
  }}"></script>

<script>
  $(document).ready(function () {
    $("#tableMPaginas").DataTable();

    // Seleccionar el campo de búsqueda y agregar la clase "form-control"
    $('#tableMPaginas_filter input[type="search"]').addClass("form-control");
    $("#tablaDRoles").DataTable(); // Inicializa la DataTable
    $('#tablaDRoles_filter input[type="search"]').addClass("form-control");

    // Aplicar estilo al input search de la tabla #tablaDRoles
    $("#tableMPaginas_filter").css("text-align", "right");

    // Aplicar estilo al input search de la tabla #tableMPaginas
    $("#tablaDRoles_filter").css("text-align", "right");

    $(document).on("click", ".access-button", function () {
      event.preventDefault(); // Evita la recarga de la página
      var codrole = $(this).attr("data-role"); // Captura el codrole del botón
      Swal.fire({
        title: "¿Estás seguro?",
        text: "¿Seguro que quieres eliminar este permiso?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí, bórralo!",
      }).then((result) => {
        if (result.isConfirmed) {
          var baseUrl = window.location.origin;
          // toma la url para la petición AJAX
          const url = baseUrl + "/sistema2/DeleteRole";
          $.ajax({
            url: url,
            type: "POST",
            data: { id: codrole },
            success: function (response) {
              console.log(response);
              if (response.status == "success") {
                Swal.fire("¡Eliminado!", response.message, "success").then(
                  (result) => {
                    if (result.isConfirmed) {
                      window.location.reload(); // Recarga la página después del OK
                    }
                  }
                );
                // window.location.reload(); // Recarga la página después del OK
              } else if (response.status == "error") {
                Swal.fire("Error", response.message, "error");
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              Swal.fire(
                "Error",
                "Error al procesar la petición: " +
                  jqXHR.status +
                  " - " +
                  jqXHR.responseText,
                "error"
              );
              //console.log(textStatus, errorThrown);
            },
          });
        }
      });
    });
  });
  $("#formularioRoles").on("submit", function (e) {
    e.preventDefault();
    insertRol();
  });
  // Delegación de eventos para los checkboxes
  $(document).on("change", ".form-check-input", function () {
    var isChecked = $(this).prop("checked");
    var checkboxId = $(this).attr("id");

    var pagename = checkboxId.split("_")[1]; // Obtenemos el nombre de la página

    if (checkboxId.startsWith("mostrar_")) {
      // Si se cambia el checkbox 'Mostrar'
      if (!isChecked) {
        $(".form-check-input").prop("checked", false); // Desmarcar todos los checkboxes
      }
    } else {
      // Si se cambia cualquier otro checkbox
      if (!$("#mostrar_" + pagename).prop("checked")) {
        // Si 'Mostrar' no está marcado
        $("#mostrar_" + pagename).prop("checked", true); // Marcar 'Mostrar' correspondiente
      }
    }
  });

  $(document).on("hidden.bs.modal", "#modalPagina", function () {
    desmarcarCheckboxes();
  });
  // Llamar a la función limpiarModal al cerrar el modal usando jQuery (Bootstrap)
  $("#modalRoles").on("hidden.bs.modal", function (e) {
    limpiarModal();
  });
  function desmarcarCheckboxes() {
    $("#tableMPaginas tbody tr td input[type='checkbox']").prop(
      "checked",
      false
    );
  }
  function limpiarModal() {
    // Obtener referencia a los campos del formulario dentro del modal
    let codigoRolInput = document.getElementById("codrole");
    let descripcionInput = document.getElementById("descripcion");

    // Limpiar los valores de los campos del formulario
    codigoRolInput.value = "";
    descripcionInput.value = "";
  }
</script>
{% endblock %}
